
<section class="all-products">
    <h1>{{ collection['air-force'].title }}</h1>
    <h1>Featured Products</h1>
<div class="product-container">
    <div class="all-product-wrapper">
{% for product in collection['air-force'].products %}
    <h3>{{ product.title|link_to: product.url }}</h3>
{%endfor%}
</div>
</div>
</section>
{% schema %}
{
  "name": "All Product",
  "settings": [
  {
  "type": "color",
  "id": "background",
  "label": "Background",
  "default": "#f4f4f4"
  },
  {
  },
  {
  "type": "color",
  "id": "text_color",
  "label": "Text",
  "default": "#000000"
  }
  ],
  "presets": [
    {
      "name": "All Products"
    },
  ]
}
{% endschema %}
