<footer class="footer">
  <div class="footer-content">
    <small>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</small>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
