{% if request.design_mode %}
<style>.pf-ph{font-size:14px;background:#fafafa;text-align:center;border:1px solid #ddd;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.1);padding:10px 20px;margin:10px auto;display:block;width:fit-content;}</style>
{% endif %}
{% if section.settings.section_id.size>0 %}
    {% assign snippet_name = section.settings.section_id %}
    {% render snippet_name %}
{% else %}
    {% if request.design_mode %}
        <div class="pf-ph">
            <h3>PageFly Section</h3>
            <span>No section selected. Please select a section from the PageFly app to display here.</span>
        </div>
    {% else %}
    {% endif %}
{% endif %}

{% schema %}
{
    "name": "PageFly Section",
    "settings": [
        {
            "id": "section_id",
            "type": "select",
            "label": "Sections",
            "options": [
                {
                    "value": "",
                    "label": "Select a section"
                }
            ],
            "default": ""
        }
    ],
    "presets": [
        {
            "name": "PageFly Section"
        }
    ]
}
{% endschema %}
